@font-face {
  font-family:'iransans';
  src: url(../assets/Font/iransans.ttf);
}
@font-face {
  font-family:'sweet';
  src: url(../assets/Font/Sweety-Berry.ttf);
}
@font-face {
  font-family: 'handwriting';
  src: url(../assets/Font/Handwriting.ttf);
}
body{
  margin: 50px;
  background-color: #d8e8d8;
}
#main-container{

  font-family: sweet;
  border: 5px solid #223d22 ;
  border-radius: 4px;
  z-index: 2;
  box-shadow: 4px 4px 20px;

}
#header img{
  width: 100%;

}
#main-container button{

  position: absolute;
  top: 72px;
  right: 100px;
  text-decoration: none;
  color: black;
  font-size: larger;
  border-radius: 7px;
  padding: 5px 30px;
  //background-color: #087508;
  box-shadow: 1px 1px 10px;
  font-family: iransans;
  font-size: larger;
  font-weight: bold;
  background-image: linear-gradient(180deg,#087508,#223d22);


}
#main-container ul{
  position: absolute;
  list-style-type: none;
  top: 70px;
  right: 300px;

}
#main-container ul li{
  display: inline;
  padding-right: 70px;
  //font-size: xx-large;

  font-family: sweet;


}
#main-container h1{
  position: absolute;
  top: 60px;
  left: 100px;
}
#concept-menu{
  margin-top: 50px;
  width: 100% ;
  height: 300px;
  background-color: #77e0c8;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 15px;
}
#concept-menu div{
  background-color: #223d22;
  height: 270px ;
  width: 98%;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  z-index:inherit ;
  box-shadow: 2px 2px 10px #223d22;


}
.concept-menu-inner{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-content: center;
  max-height: 95%;
  font-family: iransans;


}
.concept-menu-inner div{
//padding-left: 50px;
  //padding-top: 20px;
  //padding-bottom: 20px ;
}
.concept-menu-inner div img{



}
.concept-menu-inner div h6{




}
.concept-menu-inner div p{


}
.concept-menu-inner-logo{

}

.concept-menu-inner-title{

  color: antiquewhite;
}
.concept-menu-inner-p{
color: antiquewhite;
}


