<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--  <link rel="stylesheet" href="../Bootstrap/css/bootstrap.min.css">-->
<!--  <link rel="stylesheet" href="../Css//index.css">-->
  <title>Dream site</title>
</head>
<body>
<div id="main-container">
  <div id="header">
    <img src="../assets/image/header.png" >
  </div>
  <button type="submit">sign up</button>
  <ul>
    <li class="display-5">home</li>
    <li class="display-5">about</li>
    <li class="display-6">contact us</li>
  </ul>
  <h1 class="display-3 ">Dream site</h1>
  <div class="image-layerone rounded-circle" >
    <img src="../assets/image/inner-header.jpg" class="rounded-circle" >
  </div>
  <div class="woman">
    <img src="../assets/image/pngwing.com(1).png" class="rounded-circle">
  </div>

</div>
<div id="concept-menu">
  <div>
    <div style="width: 95% ;height: 95%">
      <div class="concept-menu-inner">
        <div class="concept-menu-inner-logo">
          <img src="../assets/image/icons8-restaurant-60.png">
        </div>
        <div>
          <h6 class="concept-menu-inner-title">
            healthy resturants
          </h6>
        </div>
        <div>

          <p class="concept-menu-inner-p">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam
          </p>
        </div>
      </div>
      <div class="concept-menu-inner">
        <div>
          <img src="../assets/image/apple%20juice.png">
        </div>
        <div>
          <h6 class="concept-menu-inner-title">
            healthy resturants
          </h6>
        </div>
        <div>

          <p class="concept-menu-inner-p">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam
          </p>
        </div>
      </div>
      <div class="concept-menu-inner">
        <div>
          <img src="../assets/image/Doctor.png">
        </div>
        <div>
          <h6 class="concept-menu-inner-title">Healthy restaurants</h6>
        </div>
        <div>

          <p class="concept-menu-inner-p">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam
          </p>
        </div>
      </div>
      <div class="concept-menu-inner">

        <div style="flex-grow: 1
">
          <img src="../assets/image/Happy.png">
        </div>

        <div class="concept-menu-inner-title">
          <h6>healthy resturants</h6>
        </div>
        <div class="concept-menu-inner-p">
          <p class="">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam
          </p>
        </div>
      </div>
    </div>
    </div>

</div>


</body>
</html>
