<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div class="main-container d-flex flex-column  ">
            <div id="header">
                  farhang

            </div>
            <div id="menu" class="rounded">
                <div class="nav-menu">

                            <div class="nav-area">
                              <div class="nav-item">
                                   <a href="#">منو</a>
                                 </div>
                                <div class="nav-item">
                                  <a href="#">خانه</a>
                                </div>
                                  <div class="nav-item">
                                    <a href="#">درباره ما</a>
                                  </div>

                            </div>
                  <div class="mobile-menu">
                    <div class="dropdown">
                      <div class="dropdown-display">
                        <div class="dropdown-logo"><img src="../assets/image/icons8-squared-menu-50.png" style="width: 35px;height: 35px">
                          <div class="dropdown-content">
                            <!--                        <ul>-->
                            <!--                          <li>خانه</li>-->
                            <!--                          <li style="background-color: #597081">منو</li>-->
                            <!--                          <li>درباره ما</li>-->

                            <!--                        </ul>-->
                            <a><div style="background-color: #7EA0B7">خانه</div></a>
                            <a><div style="background-color: #A9CEF4">درباره ما</div></a>
                            <a><div style="background-color: #7EA0B7">پیامها</div></a>
                            <a><div style="background-color: #A9CEF4">خروج</div></a>
                          </div>
                        </div>
                      </div>

                    </div>

                      </div>

                            <div class="nav-area">
                                <div class="nav-item">
                                  <a href="#">پیام ها</a>
                                </div>
                                <div class="nav-item">
                                  <a href="#">خروج</a>
                                </div>
                            </div>
                  </div>
                </div>
                <div class="sidebar-mobile rounded">
                    <div class="sidebar-mobile-menu">
                          <div class="round-menu-items border rounded-circle">
                                  <a href="#">لیست مطالب</a>
                          </div>
                      <div class="round-menu-items border rounded-circle">
                        <a href="#">فصل 1</a>
                      </div>
                      <div class="round-menu-items border rounded-circle">
                        <a href="#">فصل 2</a>
                      </div>
                      <div class="round-menu-items border rounded-circle">
                        <a href="#">فصل 3</a>
                      </div>
                      <div class="round-menu-items border rounded-circle">
                        <a href="#">فصل 4</a>
                      </div>
                      <div class="round-menu-items border rounded-circle">
                        <a href="#">فصل 5</a>
                      </div>
                      <div class="round-menu-items border rounded-circle">
                        <a href="#">فصل 6</a>
                      </div>
                    </div>

                </div>
              <div id="main" class="rounded">
                    <div class="main-display rounded">
                            <div class="sidebar-sizer">
                              <div class="sidebar-content">

                              </div>
                              <div class="main-content">

                              </div>
                            </div>
                            <div class="main-sizer">
                              farhang
                            </div>
                    </div>



              </div>
              <div id="footer">

              </div>
    </div>

</body>
</html>
